* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    min-height: 8vh;
    background-color: rgb(233, 224, 212);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    width: 8vw;
}

h1 {
    flex-grow: 1;
    font-size: 2rem;
    color: #63A69A;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.492);

}

nav {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

nav a {
    height: 3rem;
    width: 6rem;
    font-size: 12px;
    background-color: #F2D230;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.active {
    background-color: #BF3F34;
    color: #F2D230;
}

main {
    min-height: 90vh;
    background-color: #ffffff;
    padding: 1rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #BF3F34;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
    margin-bottom: 1rem;
    display: block;
    background-color: #F2D230;
    border-radius: 10px;
}

.contenedor img {
    height: 400px;
    width: 150px;
    border-radius: 2rem;
    display: flex;
    object-fit: cover;
    flex-direction: row;
    justify-content: end;
    justify-content: space-between;
    margin: .5rem;
}


.contenedor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section div {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

section div h3 {
    color: #BF3F34;
    font-weight: bolder;
    font-size: 1.5rem;
}

section div p {
    padding: 0.5rem;
    font-size: 1rem;
}

.contenedor-contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-weight: bolder;
}

footer img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#schedule{
    padding: 1rem;
}
#schedule h3{
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
}
#schedule p{
    margin: 1rem;
}
.container-table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
th,td{
    background-color: #63A69A;
    padding: 1rem;
}
#text-maps{
    text-align: center;
    background-color: #BF3F34;
    color: #F2D230;
    padding: 1rem;
    border-radius: 10px;
}
.location{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.location iframe{
    border-radius: 50px;
    padding: 1rem;
}

#info{
    padding: 1rem;
}
#info p{
    margin: 1rem;
}

#main-rules{
    text-align: center;
    margin: 10px;
}
#contenedor-rules{
    text-align: justify;
}
#contenedor-rules p{
    padding: 1rem;
}
#boxlist{
    margin: 1rem;
}
#boxlist li{
    padding: .5rem;
}
#boxlist-2 ol{
    list-style-type: upper-latin;
}
#boxlist-3 ul{
    list-style: circle;
}
form{
    padding: 1rem;
    background-color:#63a69aa8;
}
form p, h3,legend,label, fieldset{
    margin: 1rem;
}
form h5, span{
    color: red;
}
form legend{
    font-weight: bolder;
}
form input{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: end;
    align-items: end;
}
.submit input{
    width: 15%;
    height: 10vh;
    background-color: #BF3F34;
    color: #F2D230;
    font-size: 30px;
    border-radius: 7px;
}

