*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    min-height: 8vh;
    background-color:rgb(233, 224, 212);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.logo{
    width: 8vw;
}
h1{
    flex-grow: 1;
    font-size: 2rem;
    color: #63A69A;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.492);

}
nav{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
nav a{
    height: 4rem;
    width: 7rem;
    background-color: #F2D230;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
.active{
    background-color: #BF3F34;
    color: #F2D230;
}
main{
    min-height: 90vh;
    background-color: #ffffff;
    padding: 1rem;
}
h2{
    text-align: center;
    font-size: 2rem;
    color: black;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
    margin-bottom: 1rem;
    display: block;
    background-color: #BF3F34;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}